*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS';
    line-height: 1.5;
}
p,button{
    font-family: serif;
}
nav{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 18px 10%;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;

}
nav ul li a{
    text-decoration: none;
    color: rgb(173, 173, 173);
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li a:hover{
    text-decoration: underline;
    color: white;
    transition: 0.2s ease-in;
}
nav ul li .active{
    color: rgb(166, 88, 88);
}
nav .nav__btns{
    display: flex;
    gap: 15px;
}
nav .nav__btns .nav__btns-1{
    background-color: brown;
    color: silver;
}
nav .nav__btns .nav__btns-2{
    color: gold;
    background-color:gray;

}
nav .nav__btns a{
    padding: 6px 14px;
    border-radius: 3%;
}
nav .nav__btns a:hover{
    background-color: rgba(255, 255, 255, 0.138);
    transition: 0.3s ease-in;
}
/* MAIN CONTENT */
main{
    min-height: 80vh;
    /* background-image: linear-gradient(270deg, grey,black,rgba(0, 0, 255, 0.1)); */
    background-image:linear-gradient(255deg, rgba(0,0,0,0.9),rgba(0,0,0,0.8)), url(./img/GOOD\ HTML.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
main h1{
    font-size: 3em;
}
main p{
    width: 60%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
    color: lightgray;
    margin: 1.2em 0;

}
main a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    background-color: gold;
    font-weight: bold;
    padding: 8px 25px;
    margin-top: 1.5em;
}
main a:hover{
    background-color:rgb(213, 182, 6);
    cursor: pointer;
}


/* From Uiverse.io by csemszepp */ 
.our__section {
    color: white !important;
    width: 100%;
    height: 100%;
    --s: 200px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
  
    background: repeating-conic-gradient(
          from 30deg,
          #0000 0 120deg,
          var(--c3) 0 180deg
        )
        calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
      repeating-conic-gradient(
        from 30deg,
        var(--c1) 0 60deg,
        var(--c2) 0 120deg,
        var(--c3) 0 180deg
      );
    background-size: var(--s) calc(var(--s) * 0.577);
  }
  

/* our services */
.our__section{
    padding: 2em 19%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our__section header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our__section header h1{
    font-size: 3em;
}
.our__section header p{
    width: 70%;
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;
    color: grey;
}
.main__services{
    display: flex;
    gap: 2em;
    margin: 3em 0;
}
.main__services div{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    padding: 1em 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.main__services div:hover{
    background-color: black;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.main__services div .fab{
    font-size: 3em;
    color: darkolivegreen;
}
.main__services div h2{
    margin: 1em 0;
}
.main__services div p{
    color: grey;
    text-align: justify;
}
.our__section a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    background-color: gold;
    font-weight: bold;
    padding: 8px 25px;
    margin-top: 1.5em;
}
.our__section a:hover{
    background-color:rgb(213, 182, 6);
    cursor: pointer;
}
.about__us{
    display: flex;
    gap: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 7em;
    align-items: center;
}
.about__us-2{
    width: 60%;
    height: 600px;
    background-image: url(./img/illustrator.png);
    background-size: cover;
    background-position: center;

}

.about__us {
    background-color: transparent;
    background-image: radial-gradient(#000000 1px, #e5e5f7 1px);
    background-size: 30px 30px;
    width: 100%;
    height: 100%;
  }
  
.about__us-1{
    width: 45%;
}
.about__us-1 h2{
    font-size: 3em;
}
.about__us-1 p{
    color: grey;
    text-align: justify;
    margin: 2em 0;
    font-size: 1em;
}
.about__us-1 a{
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    background-color: gold;
    font-weight: bold;
    padding: 8px 25px;
    margin-top: 1.5em;
    }
.about__us-1 a:hover{
        background-color:rgb(213, 182, 6);
        cursor: pointer;
    }

     .stats__parent{
    background-color: yellow;
    padding: 30px 50px;
    display: flex;
    justify-content: space-around;
}

.stats__parent h1 {
    font-size: 40px;
    margin-bottom: 10px;
}


        /* PHOTOS */
    .photos{
        display: flex;
        justify-content: space-between;
        padding: 30px 8%;
        background-color: cadetblue;
    }
    .photos .photo-1{
        background-image: url(./img/illustrator.png);
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 300px;
    }
    .photos .photo-2{
        background-image: url(./img/microsoft.png);
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 300px;
    }
    .photos .photo-3{
        background-image: url(./img/GOOD\ HTML.png);
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 300px;
    }

    .pics{
        display: flex;
        justify-content: space-between;
        padding: 30px 8%;
        background-color: rgb(18, 161, 58);
    }
    .pics .pics-1{
        background-image: url(./img/illustrator.png);
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 300px;
    }
    .pics .pics-2{
        background-image: url(./img/illustrator.png);
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 300px;
    }
    .pics .pics-3{
        background-image: url(./img/microsoft.png );
        background-size: cover;
        background-position: center;
        width: 20%;
        height: 300px;
    }

    .pricing{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .pricing div{
        width: 40%;
        background-color: lightblue;
        padding: 30px 40px;
        display: flex;
        justify-content: space-between;
    }
    .pricing div h2{
        color: rgba(255, 217, 0, 0.726);
    }

    .overall{
        display: flex;
    }
    .overall .img{
        background-image: url(./img/GOOD\ HTML.png);
        background-size: cover;
        background-position: center;
        width: 50%;
        height: 300px;
    }
    .overall .contact{
        background-color: black;
        width: 50%;
    }

    .contact {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        background-color: #000;
        color: beige;
        padding: 17px 30px;
    }
    .contact h1 {
        margin-bottom: 16px;
        text-transform: capitalize;
    }
    .contact form input {
        padding: 9px 8px;
        width: 100%;
        display: block;
    }

    
    .contact a{
    display: block;
    font-size: 1em;
    text-decoration: none;
    color: black;
    background-color: gold;
    font-weight: bold;
    padding: 8px 25px;
    margin-top: 1.5em;
    text-align: center;
    }

    .sec{
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 10px 10%;
        align-items: center;
    }
    .sec .do-1{
        color:#D5E68D;
        font-weight: bold;
        width: 30%;
    }
    .sec .do-2{
        color: #D5E68D;
        font-weight: bold;
        width: 30%;
    }   
    .sec .do-3{
        color: #D5E68D;
        font-weight: bold;
        width: 30%;
    }
    .sec .do-3 ul{
        list-style: none;
        gap: 40px;
        color: #ACD7EC;
    }
    .sec ul li a{
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }





    /* From Uiverse.io by CristianMontoya98 */ 
.main-btn {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   button:hover {
    color: black;
   }
   
   button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }


   /* From Uiverse.io by Shoh2008 */ 
.loader {
    display: block;
    width: 84px;
    height: 84px;
    position: relative;
  }
  
  .loader:before , .loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #FFF;
    transform: translate(-50% , -100%)  scale(0);
    animation: push_401 2s infinite linear;
  }
  
  .loader:after {
    animation-delay: 1s;
  }
  
  @keyframes push_401 {
    0% , 50% {
      transform: translate(-50% , 0%)  scale(1)
    }
  
    100% {
      transform: translate(-50%, -100%) scale(0)
    }
  }


  /* From Uiverse.io by micaelgomestavares */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #252727;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }
  
      
